{% extends 'base.html.twig' %}
 {% block bodyse %}
 <div id="main">
        <!-- Post -->
        <section class="post">
            <header class="major">
                <span>   <h1 style="width: 200%;">Create new Seance</h1>
</span>
            </header>

            <div class="section-content">
              <div class="container">
<div class="form-container">
                {{ form_start(form , {'attr': {'class':'form-horizontal','novalidate':'novalidate'}} ) }}
                <div class="col-md-12">
               
                  <fieldset>
    {{ form_label(form.typeSeance, 'Type_Seance', {'label_attr': {'class': 'custom-label'}}) }}
    {{ form_widget(form.typeSeance, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.typeSeance) %}
        <div class="error-message">
            {{ form_errors(form.typeSeance) }}
        </div>
    {% endif %}
</fieldset>
                </div>

                <div class="col-md-12">
                <fieldset>
    {{ form_label(form.dureeSeance, 'Duree_Seance', {'label_attr': {'class': 'custom-label'}}) }}
    {{ form_widget(form.dureeSeance, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.dureeSeance) %}
        <div class="error-message">
            {{ form_errors(form.dureeSeance) }}
        </div>
    {% endif %}
</fieldset>

<fieldset>
    {{ form_label(form.nbMaximal, 'Nb_Maximal', {'label_attr': {'class': 'custom-label'}}) }}
    {{ form_widget(form.nbMaximal, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.nbMaximal) %}
        <div class="error-message">
            {{ form_errors(form.nbMaximal) }}
        </div>
    {% endif %}
</fieldset>
                </div>

                <div class="col-md-12">
   <style>
    .hidden-row {
        display: none;
    }
</style>




  <fieldset>
    {{ form_label(form.categorie, 'Categorie', {'label_attr': {'class': 'custom-label'}}) }}
    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.categorie) %}
        <div class="error-message">
            {{ form_errors(form.categorie) }}
        </div>
    {% endif %}
</fieldset>

             <fieldset>
    {{ form_label(form.dateFin, 'Sélectionner une date Fin :', {'label_attr': {'class': 'custom-label'}}) }}
    {{ form_widget(form.dateFin, {'attr': {'class': 'form-control', 'style': 'border: 1px solid #ccc; padding: 5px 10px; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;', 'placeholder': 'Your Placeholder Text'}}) }}
    {% if form_errors(form.dateFin) %}
        <div class="error-message">
            {{ form_errors(form.dateFin) }}
        </div>
    {% endif %}
</fieldset>
                </div>
                <div class="col-md-12">
                   <fieldset>
    <button type="submit" class="btn btn-success" style="margin-top: 10px; margin-bottom: 20px;"> Reserver ! </button>
</fieldset>
                </div>
  
            

                {{ form_end(form) }}
                
</div>
            </div>
             </div>
        </section>
 <script>
 
  function previewImage(event) {
    var input = event.target;
    var preview = document.getElementById('image_preview');

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            preview.src = e.target.result;
            preview.style.display = 'block'; // Afficher l'aperçu de l'image
        }

        reader.readAsDataURL(input.files[0]); // Convertir l'image en URL de données
    }
}
       

    </script>


    </div>

  {% endblock %}


  





 