<div class="pagination">
    {% if pagination.pageCount > 1 %}
        <ul>
            {% if pagination.currentPage != 1 %}
                <li><a href="{{ pagination.firstPageUrl }}">«</a></li>
            {% endif %}

            {% for page in pagination.pagesInRange %}
                {% if page != pagination.currentPage %}
                    <li><a href="{{ pagination.pageUrl(page) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active">{{ page }}</li>
                {% endif %}
            {% endfor %}

            {% if pagination.currentPage != pagination.pageCount %}
                <li><a href="{{ pagination.lastPageUrl }}">»</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>