{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}


{% block header %}


    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/styleseance.css') }}">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <style>
        /* Your additional styles here */
        .action-button {
            background-color: transparent;
            border: none;
            color: white;
            padding: 10px 0px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 0px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 12px;
            outline: none;
        }

        .show-button {background-color: #4CAF50;} 
        .show-button:hover {background-color: #45a049;}

        .edit-button {background-color: #008CBA;} 
        .edit-button:hover {background-color: #0073e6;}

        .delete-button {background-color: #f44336;} 
        .delete-button:hover {background-color: #e60000;}
    </style>
{% endblock %}


{% block formSeance %}

{% endblock %}

{% block contentsq %}
    <h1>Client </h1>
    <a href="{{ path('triespc') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>Nom Ascendant</a>
    <a href="{{ path('triespcDESC') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>Nom Desendent</a>
    <a href="{{ path('app_program_index') }}" class="btn btn-primary">programs</a>


    <input class="form-control" id="search" type="text" name="search" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />

    <table class="table">
        <thead>
            <tr>
                <th>IdC</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Poids</th>
                <th>Hauteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.idC }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.age }}</td>
                <td>{{ client.poids }}</td>
                <td>{{ client.hauteur }}</td>
                <td>
                    <form action="{{ path('app_client_show', {'idC': client.idC}) }}" method="get" style="display: inline;">
                            <button type="submit" class="action-button show-button">Show</button>
                        </form>
                        <form action="{{ path('app_client_edit', {'idC': client.idC}) }}" method="get" style="display: inline;">
                            <button type="submit" class="action-button edit-button">edit</button>
                        </form>
                         <form action="{{ path('app_client_delete', {'idC': client.idC}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.idC) }}">
                            <button type="submit" class="action-button delete-button">Delete</button>
                        </form>
                        
                           <a href="{{ path('contrat_generate_pdf', {'id': client.idc}) }}" class="btn btn-primary">
    <i class="fa fa-file-pdf"></i>  PDF
</a>

                       
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <script src="{{ asset('https://code.jquery.com/jquery-3.5.1.min.js') }}"></script>
    <script>
 $(document).ready(function() {
    $('#search').keyup(function () {
        var searchTerm = $(this).val().trim();

        if (searchTerm !== '') {
            // Envoyer la requête Ajax
            $.ajax({
                url: '{{ path('backrechercheAjax') }}',
                method: 'POST',
                data: {nom: searchTerm},
                success: function(response) {
                    // Effacer le contenu du tableau
                    $('table.table tbody').empty();
                    
                    response.clients.forEach(function(client) {
    var newRow = '<tr>' +
        '<td>' + client.id + '</td>' +
        '<td>' + client.nom + '</td>' +
        '<td>' + client.prenom + '</td>' +
        '<td>' + client.age + '</td>' +
        '<td>' + client.poids + '</td>' +
        '<td>' + client.hauteur + '</td>' +
        '<td>' +
        '<form action="/client/show/' + client.id + '" method="get" style="display: inline;">' +
        '<button type="submit" class="action-button show-button">Show</button>' +
        '</form>' +
        '<form action="/client/edit/' + client.id + '" method="get" style="display: inline;">' +
        '<button type="submit" class="action-button edit-button">edit</button>' +
        '</form>' +
        '<a href="/contrat/generate/pdf/' + client.id + '" class="btn btn-primary"><i class="fa fa-file-pdf"></i>  PDF</a>' +
        '</td>' +
        '</tr>';
    $('table.table tbody').append(newRow);
});

                },
                error: function(xhr, status, error) {
                    console.log(xhr, status, error);
                    // Gérer les erreurs éventuelles
                }
            });
        } else {
            // Si le champ de recherche est vide, vider le contenu du tableau
            $('table.table tbody').empty();
        }
    });
});
</script>

    <a href="{{ path('app_client_new') }}">Create new</a>
   

{% endblock %}
