{% extends 'base22.html.twig' %}

{% block title %}Client{% endblock %}
{% block formSeance %}

{% endblock %}


{% block header %}


    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/styleseance.css') }}">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <style>
        /* Your additional styles here */
        .action-button {
            background-color: transparent;
            border: none;
            color: white;
            padding: 10px 0px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 0px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 12px;
            outline: none;
        }

        .show-button {background-color: #4CAF50;} 
        .show-button:hover {background-color: #45a049;}

        .edit-button {background-color: #008CBA;} 
        .edit-button:hover {background-color: #0073e6;}

        .delete-button {background-color: #f44336;} 
        .delete-button:hover {background-color: #e60000;}
    </style>
{% endblock %}
{% block contentsq %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdC</th>
                <td>{{ client.idC }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ client.age }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ client.poids }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ client.hauteur }}</td>
            </tr>
        </tbody>
    </table>

    

     <form action="{{ path('app_client_edit', {'idC': client.idC}) }}" method="get" style="display: inline;">
                            <button type="submit" class="action-button edit-button">edit</button>
                        </form>

 <form action="{{ path('app_client_delete', {'idC': client.idC}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.idC) }}">
                            <button type="submit" class="action-button delete-button">Delete</button>
                        </form>
                        
                         <form action="{{ path('app_client_index') }}" style="display: inline;">
                            <button type="submit" class="action-button edit-button">Back To List</button>
                        </form>
{% endblock %}
