<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {%  block header   %}
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
          <link rel="stylesheet" href="{{ asset('css/styleseance.css') }}">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    
    </head>
    <body class="sb-nav-fixed">

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
           
             {%  endblock   %}
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Interface</div>
                           <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsReservation" aria-expanded="false" aria-controls="collapseLayoutsReservation">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Reservation
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayoutsReservation" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path('app_seance_i') }}">Seance</a>
        <a class="nav-link" href="{{ path('app_reservation_i') }}">Reservation</a>
    </nav>
</div>

<!-- Evenement section -->
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsEvenement" aria-expanded="false" aria-controls="collapseLayoutsEvenement">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Evenement
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayoutsEvenement" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path('display_evenment') }}">Evenement</a>
    </nav>
</div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsCoaching" aria-expanded="false" aria-controls="collapseLayoutsCoaching">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Coaching
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayoutsCoaching" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path('app_client_index') }}">Client</a>
    </nav>
</div>

<!-- Utilisateur section -->
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsUtilisateur1" aria-expanded="false" aria-controls="collapseLayoutsUtilisateur1">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Utilisateur
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayoutsUtilisateur1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path('app_user_homee') }}">Utilisateur</a>
    </nav>
</div>

<!-- Deuxième bloc Utilisateur -->
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsUtilisateur2" aria-expanded="false" aria-controls="collapseLayoutsUtilisateur2">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Produits
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapseLayoutsUtilisateur2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{{ path('app_produit_ajouter') }}">Produits</a>
    </nav>
</div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                       
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Seance</li>
                        </ol>
 {% block formSeance %}
<div role="main" class="form-all">
    <div style="display: flex;">
        <div style="flex: 1;margin-left:20px;">
            <ul class="form-section page-section" style="display: flex; align-items: center;">
                <li id="cid_1" class="form-input-wide" data-type="control_head">
                    <div style="display:table;width:200">
                        <div class="form-header-group hasImage header-large" data-imagealign="Left">
                            <div class="header-logo"><img src="back/assets/img/medi.png" alt="New Patient Enrollment" width="400" class="header-logo-left"></div>
                            <div class="header-text httal htvam">
                                <h1 id="header_1" class="form-header" data-component="header">New Patient Enrollment</h1>
                                <div id="subHeader_1" class="form-subHeader">Dr. Name</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
         <div class="container" style="flex: 1; margin-left: 50px; width:50%;">
            {% block bodyse %}
            <div class="container d-flex flex-column align-items-right" data-aos="zoom-in" data-aos-delay="100">
                <!-- Content of the bodyse block -->
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
 </div>
                   {% block contentsq %}
<div class="card mb-4" style="width: 100vw; height: 100vh;">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body" style="height: calc(100vh - 60px); overflow: auto;">
        <table id="datatablesSimple" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <!-- Ajoutez d'autres lignes de données ici -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> #}
        {# <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script> 
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
