{% extends 'base200.html.twig' %}

{% block title %}Liste des réclamations{% endblock %}

{% block Partie2 %} 
<div  style="display: flex;align-items: center;justify-content: center;margin-top: 80px; padding:25px; margin-left:30px;  ">
<div class="row">
<div class="row">



<div class="card-body">

<div id="google_translate_element"></div>
 <script type="text/javascript">
 function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'fr'}, 'google_translate_element');
                        }
   </script>

   <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
     </br>

               </br>
                      <head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
 </head>

    {% if app.flashes('success') %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      Swal.fire({
        icon: 'success',
        title: 'Réclamation ajoutée avec succès',
        timerProgressBar: true,
        showConfirmButton: false,
        timer: 1500,
        didClose: () => {
          location.reload();
        }
      });
    });
  </script>
{% endif %}
{% if app.flashes('successmod') %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      Swal.fire({
        icon: 'success',
        title: 'Réclamation modifiée avec succès',
        timerProgressBar: true,
        showConfirmButton: false,
        timer: 1500,
        didClose: () => {
          location.reload();
        }
      });
    });
  </script>
{% endif %}
{% if app.flashes('successsupp') %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      Swal.fire({
        icon: 'success',
        title: 'Réclamation supprimée avec succès',
        timerProgressBar: true,
        showConfirmButton: false,
        timer: 1500,
        didClose: () => {
          location.reload();
        }
      });
    });
  </script>
{% endif %}
               

<a href="{{ path('app_reclamation_orderByDateDESC') }}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
</svg> <i class="bicycle"> </i></a>

<a href="{{ path('app_reclamation_orderByDateASC') }}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
</svg></a>
     <a href="{{ path('PDF_Reclamation') }}" class="btn btn-outline-dark btn-sm"><i class="fas fa-print"></i>Générer PDF</a>
     

    <h1>Liste des réclamations</h1>
    

    <link rel="stylesheet" href="{{ asset('assets2/css/style.css') }}">
     <div  class="table-responsive">
           <input type="text" id="search" class="form-control" placeholder="Rechercher">
    <div id="tabv">

    
    
<table class="table table-bordered">
     <thead class="table-dark">
<tr>
       <th scope="col">Référence</th>
      <th scope="col">Nom</th>
     <th scope="col">Prénom</th>
     <th scope="col">CIN</th>
    <th scope="col">Email</th>
    <th scope="col">Téléphone</th>
    <th scope="col">Commentaire</th>
    <th scope="col">Date et heure </th>
     <th scope="col">Documents </th>
   <th scope="col">Note </th>
    <th scope="col">Statut </th>
    <th scope="col">Actions</th>
    </tr>
  </thead>
    <tbody>
{% for reclamation in reclamations %}
    <tr>
        <td>{{ reclamation.reference }}</td>
        <td>{{ reclamation.nomD }}</td>
        <td>{{ reclamation.prenomD }}</td>
        <td>{{ reclamation.cin }}</td>
        <td>{{ reclamation.email }}</td>
        <td>{{ reclamation.tel }}</td>
        <td>{{ reclamation.commentaire }}</td>
        <td>{{ reclamation.CreatedAt|date('Y-m-d H:i') }}</td>
<td>
    {% if reclamation.file is defined and reclamation.file %}
        <a href="{{ asset('uploads/files/' ~ reclamation.file) }}" target="_blank">
            <button type="button" class="btn btn-warning">Ouvrir le document</button>
        </a>
    {% else %}
        Aucun fichier
    {% endif %}
</td>
<td>
 
</td>




<td>
  {% if reclamation.statut == 'En cours' %}
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  {% elseif reclamation.statut == 'approuvée' %}
    <i class="bi bi-check2-circle text-success" style="font-size: 2rem;"></i>
  {% elseif reclamation.statut == 'refusée' %}
    <i class="bi bi-x-circle text-danger" style="font-size: 2rem;"></i>
  {% endif %}
</td>


      
  <td>
  <button class="btn btn-primary" onclick="
    {% if reclamation.statut == 'En cours' %}
      alert('Vous ne pouvez pas modifier une réclamation en cours.');
    {% else %}
      window.location.href='{{ path('reclamation_edit', {'id': reclamation.id}) }}'
    {% endif %}"
    title="Modifier">
    <i class="ri-pencil-fill" style="font-size: 0.8em;"></i>
  </button>


              </br>
                   </br>
               

{# <a href="{{ path('app_sms',{'id':reclamation.id}) }}" class="btn btn-outline-dark btn-sm"><i class="fas fa-envelope"></i>Envoyer un sms</a><br> #}

<a href="{{ path('reclamation_delete', {'id': reclamation.id}) }}"onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réclamation ?')"><i class="ri-delete-bin-2-fill" style="font-size: 1.5em;"> </i></a>
    
        </td>
    </tr>
     </div>
      </div>
{% endfor %}

    </tbody>
  </table>

                                            <div class="pagination-container" class="fas fa-chevron-circle-right" style="font-size: 18px;">
        {# {{ knp_pagination_render(reclamations) }} #}
    </div>


             </div>
      </div>
    
</div>
</div>

  
    <a class="btn btn-primary" href="{{ path('reclamation_new') }}"role="button">Créer une nouvelle réclamation</a>

     <script src="{{ asset('https://code.jquery.com/jquery-3.5.1.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#search').on('keyup', function() {
                var query = $(this).val();
                console.log(query);
                $.ajax({
                    url: '{{ path('rechercheAjax') }}',
                    type: 'GET',
                    data: { q: query },
                    success: function(response) {
                        console.log(response);
                        $('#tabv').html($(response).find('#tabv').html());
                    }
                });
            });
        });

    </script>
    {# Pagination #}
<script src="{{ asset('https://code.jquery.com/jquery-3.5.1.min.js') }}"></script>
<script>
    $(document).ready(function() {
    // Set up click event listener for pagination links
    $('#pagination-container').on('click', 'a', function(event) {
    event.preventDefault();

    // Get the URL of the next page of results from the pagination link
    var url = $(this).attr('href');
    // Send an AJAX request to load the next page of results
    $.ajax({
    url: url,
    type: 'GET',
    success: function(response) {
    console.log(response); // Log the response to the console
    // Replace the current content with the new content from the AJAX response
    $('#tabv').html($(response).find('#tabv').html());
    $('#pagination-container').html($(response).find('#pagination-container').html());
    },
    error: function(jqXHR, textStatus, errorThrown) {
    console.log('AJAX error: ' + textStatus + ' - ' + errorThrown);
    }
    });
    });
    });
</script>
    {# Pagination #}



{% endblock %}
          